<h1>Jobs</h1>
<% @jobs.each do |job| %>
  <%= job.name %> - <%= link_to "Show", job %>  
<% end %>
<hr />
<%= link_to "New Job", new_job_path %>

<%= link_to "Test!", '/test' %>

<pre>
  <%=h '<iframe src="http://workerapp.heroku.com/test/show"></iframe>'  %>
</pre>