<h1>New Job</h1>
<%= link_to "Back to Jobs", root_path %>
<hr />
<% form_for(@job) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :function %><br />
    <%= f.text_area :function %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.text_area :data %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end%>